<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to EEGLAB</td> </tr>
      <tr> <td>09:15</td>  <td>Matlab: need to knows</td> </tr>
      <tr> <td>09:45</td>  <td>EEG structure elements</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td>basic ERP process</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Scripting from history</td> </tr>
      <tr> <td>13:30</td>  <td>STUDY structure analysis</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td>Introduction to ICA</td> </tr>
      <tr> <td>15:15</td>  <td>ICA artifact isolation</td> </tr>
      <tr> <td>16:00</td>  <td>ICA hyposthesis testing</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to BIDS standard</td> </tr>
      <tr> <td>09:15</td>  <td>Introduction to BIDS-EEG standard</td> </tr>
      <tr> <td>09:30</td>  <td>Batch processing: batch_context</td> </tr>
      <tr> <td>10:00</td>  <td>Introduction to the Lossless pipeline</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee</td> </tr>
      <tr> <td>10:45</td>  <td>Prepare and run Lossless pipeline</td> </tr>
      <tr> <td>11:30</td>  <td>Post processing scripts</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Interacting with data annotations: vised_marks</td> </tr>
      <tr> <td>13:30</td>  <td>Introduction to the Lossless QC</td> </tr>
      <tr> <td>13:45</td>  <td>Lossless QC decisions and interatcions</td> </tr>
      <tr> <td>14:30</td>  <td>Coffee</td> </tr>
      <tr> <td>14:45</td>  <td>Scripting Lossless QC</td> </tr>
      <tr> <td>13:15</td>  <td>Contributing to ICLabel project</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
